$accent: rgb(28, 107, 255);
$bg: rgb(27, 27, 27);
$first: rgb(40, 40, 40);
$second: rgb(60, 60, 60);
$third: rgb(80, 80, 80);
$four: rgb(100, 100, 100);

$error: rgb(189, 58, 58);
$warning: rgb(255, 145, 0);
$success: seagreen;
