body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  user-select: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.content {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

.loader {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
