@mixin scroll($width, $height, $color, $backColor, $cornerRadius) {
  & {
    overflow-y: auto;
    max-height: $height;
    &:hover {
      cursor: pointer;
    }
  }
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background: $backColor;
    border-radius: $cornerRadius;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: $cornerRadius;
  }
}
