@import '../../styles/colors.scss';

.export {
  position: fixed;
  top: 40px;
  right: 40px;
  &__btn {
    width: 100%;
    background-color: $accent;
    border: 2px solid $accent;
    padding: 5px 20px;
    color: white;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
    &_disabled {
      background-color: $first;
      border: 2px solid $first;
      opacity: 0.5;
      &:hover {
        cursor: default;
      }
    }
    &_open,
    &:active {
      background: 0 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .export {
    &__btn {
      font-size: 10px;
      padding: 5px 15px;
    }
  }
}
